<div class="flag-dropdown" id="countrySelect" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-label="Language" data-translate-aria-label="common.language">
  <button type="button" class="fd-trigger" aria-label="Select language">
    <img alt="" src="" class="fd-trigger-icon" />
    <span class="fd-trigger-label">EN</span>
    <svg class="fd-caret" width="16" height="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
      <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

  <ul class="fd-list" role="listbox" aria-label="Languages">
    <li class="fd-option" role="option" tabindex="-1" data-value="en" data-label="EN"
      data-icon-url="/assets/images/icons/languages/en.webp" data-selected>
      <span>EN</span>
    </li>

    <li class="fd-option" role="option" tabindex="-1" data-value="de" data-label="DE"
      data-icon-url="/assets/images/icons/languages/de.webp">
      <span>DE</span>
    </li>

    <li class="fd-option" role="option" tabindex="-1" data-value="bg" data-label="BG"
      data-icon-url="/assets/images/icons/languages/bg.webp">
      <span>BG</span>
    </li>
  </ul>
</div>
