<div id="modal" class="modal">
    <div class="modal-content">
      <span class="modal-close" id="modalCloseTop">&times;</span>
      <div id="modalBody"></div>
      <button class="modal-close" id="modalCloseBottom" data-translate="modal.close">Close</button>
    </div>
</div>
