<div id="modal" class="modal">
    <div class="modal-content">
      <div id="modalBody"></div>
      <div class="modal--header">
        <span class="modal-close" id="modalCloseTop"></span>
      </div>
    </div>
</div>
