<div class="content-container">
  <div class="text-container">
    <div class="title-text"><span data-translate="welcome.welcome_text">Welcome!</span><br> <span data-translate="welcome.my_name_is">My Name Is</span> <span data-translate="welcome.name">Stanimir Monev</span></div>
    <div class="typewriter-container"><span data-translate="welcome.and_im_into">And I'm Into</span> <div class="typewriter" data-type='["welcome.typewriter.text_1", "welcome.typewriter.text_2", "welcome.typewriter.text_3", "welcome.typewriter.text_4", "welcome.typewriter.text_5"]'><span class="wrap"></span></div></div>
  </div>
  <div class="welcome-about-button-container">
    <a href="#about" class="welcome-about-button">
      <span data-translate="welcome.about_me_button">About Me</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
      </svg>
    </a>
  </div>
  <div class="social-media-icons-container">
    <%- include('socialMedia', {id:'contacts', css:'social-media-icons', section:'welcome'}); %>
  </div>
</div>

<div class="image-container">
  <img class="profile-picture" src="/assets/images/profile_picture.webp" alt="Portrait of Stanimir Monev" width="300" height="319" fetchpriority="high" decoding="async">
</div>
