@font-face {
  font-family: 'roboto_monoitalic';
  src: url('fonts/robotomono-italic-variablefont_wght-webfont.eot');
  src: url('fonts/robotomono-italic-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/robotomono-italic-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/robotomono-italic-variablefont_wght-webfont.woff') format('woff'),
       url('fonts/robotomono-italic-variablefont_wght-webfont.ttf') format('truetype'),
       url('fonts/robotomono-italic-variablefont_wght-webfont.svg#roboto_monoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto_monoregular';
  src: url('fonts/robotomono-variablefont_wght-webfont.eot');
  src: url('fonts/robotomono-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/robotomono-variablefont_wght-webfont.woff') format('woff'),
       url('fonts/robotomono-variablefont_wght-webfont.ttf') format('truetype'),
       url('fonts/robotomono-variablefont_wght-webfont.svg#roboto_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
